
 <app-header></app-header>
 <mat-card *ngIf="userDetails.svw_firebaseid" class="svw-card">
    <mat-card-header>
      <div mat-card-avatar style="background-image:url({{userDetails.svw_photoUrl}}); margin-top: 7px;"></div>
      <mat-card-title style="padding-top: 16px;margin-right: 62px;">{{userDetails.svw_name}}</mat-card-title>
      <mat-card-actions >
        <button mat-icon-button class="svw-icon logout-icon" aria-label="Edit Profile" (click)="userUpdate()">
            <mat-icon style="text-align: right;">rule</mat-icon>
          </button>
    </mat-card-actions>
    </mat-card-header>
    <img mat-card-image *ngIf="userDetails.svw_photoUrl" src="{{userDetails.svw_photoUrl}}" alt="profile">
    <br>
    <mat-card-content style="text-align: center;">
      <p>
        <span style="font-weight: bold;text-align: center;">Email: {{userDetails.svw_email}}</span>
      </p>
    </mat-card-content>
  </mat-card>
 